/* color-scheme: light */

/* color palette */
:root {
  --rosa: #ffebe4;
  --orange: #ff5b22;
  --blue: #adcadb;
  --beige-dark: #fbeccd;
  --beige-light: #fefaf1;
  --green-dark: #548a7d;
  --green-light: #b4d9c0;
}

/* user color */
:root {
  --user-1: #c63300;
  --user-2: #c3aa77;
  --user-3: #b4d9c0;
  --user-4: #71a2b1;
}