@import './base.css';

*,
*::before,
*::after {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  background-color: var(--rosa);
}

.app-container {
  /* mobile first data 320-400/500px, margin auto */
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--orange);
}
/* PascalCase */

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.carma-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: var(--blue);
  font-weight: bold;
  font-style: normal;
}

.running-text-medium {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: medium;
  font-style: normal;
}

.running-text-bold {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: bold;
  font-style: normal;
}

.running-text-italic {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: medium;
  font-style: italic;
}

/* PRE PART /*
/* btn-pre-small-short (siehe figma) */
.btn-pre-small-short {
}

/* btn-pre-small-long (siehe figma) */
.btn-pre-small-long {
}

/* btn-pre-small-long (siehe figma) */
.btn-pre-large {
}

/* input-pre (siehe figma) */
.input-pre {
}

/* MAIN PART /*
/* btn-main-short (siehe figma) */
.btn-main-short {
}

/* btn-main-long (siehe figma) */
.btn-main-long {
}
