@import './base.css';

:root {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: var(--orange);
}

body {
  margin: 0;
}

/* mobile first */
.app-container {
  width: 428px;
  height: 926px;
  margin: auto;
  border: 5px;
  border-radius: 5px;
  background-color: var(--rosa);
}

/* .app-container-small {
  width: 23rem;
  margin: auto;
} */

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--orange);
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.h1-event {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--orange);
  text-align: left;
  padding-top: 4.5rem;
  margin-bottom: 4rem;
  max-width: 28rem;
}
/* PascalCase */

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
  text-align: center;
  line-height: 0%;
}

.carma-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;

  position: relative;
  bottom: 3.4rem;
  display: inline-block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carma-logo::after {
  content: '';
  display: block;
  width: calc(100% - 10px);
  width: 53px;
  height: 2px;

  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.bg-pre-bus-large {
  background-image: url('/BG_bus_gross.svg');
  background-color: var(--rosa);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 428px;
  height: 926px;
}

.bg-pre-bus-small {
  background-image: url('/BG_bus_klein.svg');
  background-color: var(--rosa);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 428px;
  height: 926px;
}

.bg-pre-bus-small-night {
  background-image: url('/BG_bus_klein_night.svg');
  background-color: var(--rosa);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 1000;
  height: 926px;
}

.running-text-medium {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: medium;
  font-style: normal;
}

.running-text-bold {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: bold;
  font-style: normal;
}

.running-text-italic {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--orange);
  font-weight: medium;
  font-style: italic;
}

/* Setzen Sie alle relevanten Eigenschaften auf 'unset' */
button {
  all: unset;
  text-decoration: none;
}
/* Button-Verlikung Unterstrich entfernen */
a:link,
a:visited {
  text-decoration: none;
}

input {
  all: unset;
  text-decoration: none;
}

/* PRE PART /*
/* (siehe figma) */
.btn-pre-small {
  background-color: var(--beige-light);
  border-radius: 0.4rem;
  padding: 1rem;
  width: 14.4rem;
  text-align: center;
  margin: 0.5rem;

  color: var(--orange);
  font-size: 20px;
  font-weight: bold;
  display: inline-block;

  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}

.btn-pre-small:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

/* (siehe figma) */
.btn-pre-large {
  background-color: var(--beige-light);
  border-radius: 0.4rem;
  padding: 1rem 1rem;

  color: var(--orange);
  font-size: 36px;
  font-weight: bold;
  display: inline-block;

  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}

.btn-pre-large:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

/* (siehe figma) */
.input-pre {
  background-color: var(--beige-light);
  border: solid 0.1rem var(--orange);
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 22.25rem;

  color: var(--orange);
  font-size: 15px;
  font-weight: light;
  font-style: italic;
  text-align: left;

  display: inline-block;

  margin-bottom: 1rem;
}

/* MAIN PART /*

/* Bsp. Einbindung 
 <button class="btn-main-long">
    FAHRT BEENDEN
    <div class="btn-main-long-mini-bus"></div>
  </button>
  */

.btn-main-short {
  background-color: var(--green-dark);
  border-radius: 0.4rem;
  padding: 0.8rem;
  width: 7rem;
  margin: auto;

  color: var(--beige-light);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: inline-block;

  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}
.btn-main-short-mini-bus {
  background-image: url('/mini_bus_l.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 39px;
  position: absolute;
  top: -37px;
}

.btn-main-short:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

.btn-main-long {
  background-color: var(--green-dark);
  border-radius: 0.4rem;
  padding: 0.8rem;
  width: 22.25rem;

  color: var(--beige-light);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: inline-block;

  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}

.btn-main-long:hover {
  background-color: var(--blue);
  transform: scale(1.05);
}

.btn-main-long-mini-bus {
  background-image: url('/mini_bus_l.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 39px;
  position: absolute;
  top: -37px;
}

.ride-info-block {
  background-color: var(--beige-light);
  border: solid 0.1rem var(--orange);
  width: 22.25rem;
  height: 22.5rem;
  border-radius: 0.4rem;
  font-size: 15px;
  padding: 0.8rem;
  margin: 0 auto;

  display: inline-block;
}

.input-main {
  background-color: var(--beige-light);
  border: solid 0.1rem var(--orange);
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 22.25rem;

  color: var(--orange);
  font-size: 15px;
  font-weight: light;
  font-style: italic;
  text-align: left;

  display: inline-block;

  margin-bottom: 1rem;
}
